# Control Flow

1. Comparison operator

In [1]:
# Comparison Operators in Python

print(3 > 2)  # Greater than
print(3 >= 2) # Greater than or equal to
print(3 < 2)  # Less than
print(3 <= 2) # Less than or equal to
print(3 == 2) # Equal to
print(3 != 2) # Not equal to
print(3 == 3) # Equal to
print(3 != 3) # Not equal to

True
True
False
False
False
True
True
False

In [6]:
print( "bag" > "apple") # compares first character of both strings
print( "bag" == "Bag")   # compares ASCII values of characters
print( "bag" >= "bat")   # compares first different character of both strings
print( "bag" < "baggage") # compares first different character of both strings

True
False
False
True

2. Conditional Statements

In [8]:
# if statement

temperature = 35

if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
    
elif temperature > 20:
    print("It's a nice day")
    
else:
    print("It's not a hot day")
    print("Enjoy your day")

It's a hot day
Drink plenty of water

In [10]:
# if statement

age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

Cleaner approach in conditional statement

In [11]:
age = 22

if age >= 18:
    message = "Eligible to vote"
else:
    message = "Not eligible to vote"  
      
print(message)

Eligible to vote

In [12]:
message = "Eligible to vote" if age >= 18 else "Not eligible to vote"
print(message)

Eligible to vote

3. Logical Operators

In [ ]:
# logical "and" Operators

high_income = True
good_credit = True

if high_income and good_credit: # both conditions must be true, no need to write "== True" or false
    print("Eligible for loan") 
else:
    print("Not eligible for loan")

Eligible for loan

In [14]:
# logical or operators

high_income = True
good_credit = False 

if high_income or good_credit: # at least one condition must be true
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Eligible for loan

In [16]:
# not operator
# reverses the value of boolean expression
# false condition wont be executed if we use "not" operator

high_income = True
good_credit = False
student = True

if (high_income or good_credit) and not student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Not eligible for loan

4. Short Circuit

In [ ]:
# short circuit
# if first condition is true, second condition will not be checked
# Means the evaluation stops as soon as the result is determined

high_income = True
good_credit = False
if good_credit or high_income: # if first condition is true, second condition will not be checked
    print("Eligible for loan")
else:
    print("Not eligible for loan")

Eligible for loan

5. Chaining Comparison Operator

In [18]:
# chaining comparison operator
# to check if a value is within a range

age = 22
if 18 <= age < 65:  # equivalent to (age >= 18 and age < 65)
    print("Eligible to work")
else:
    print("Not eligible to work")

Eligible to work

Excercise

In [ ]:
# What will be the output of this code?

if 10 == "10":
    print("a")
elif "bag" > "apple" and "bag" > "cat":
    print("b")  
else:
    print("c")
    
# explanation:
# 10 is integer and "10" is string, so first condition is false
# Lets say "bag" > "apple" is true then "bag" > "cat" is false
# so second condition is false
# so the output will be "c"

c

6. For loops

For loops is used to iterate over a sequence like a list, tuple, dictionary, set etc. Iterating means going through each item in the sequence one by one. So we can perform an action with each item.

In [ ]:
# syntax:

for item in collection:
    # do something with item

In [ ]:
# excrise

names = ["John", "Bob", "Mosh", "Sarah", "Mary"] # a list of names

for item in names: # iterate over each name in the list
    print(item) # print the name

John
Bob
Mosh
Sarah
Mary

In [22]:
# excercise
# print numbers from 1 to 5

for number in range(1, 6): # range function generates numbers from 1 to 5
    print(number)

1
2
3
4
5

In [23]:
# excercise
# print range of even numbers from 2 to 10

for number in range(2, 11, 2): # range syntax: range(start value, stop value, step)
    print(number)

2
4
6
8
10

In [ ]:
#excercise

for number in range(5):
    print("Attempt", number + 1) # by using comma operator we can print multiple values in a single print statement

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5

In [ ]:
#excercise

for number in range(5): 
    print("Attempt", number + 1, (number + 1) * ".")
    
# string concatenation and multiplication

Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempt 4 ....
Attempt 5 .....

In [ ]:
# Cleaner approach
for number in range(1, 6):
    print(f"Attempt {number}{'.' * (number)}")

# by using range we eliminated the need to add 1 to number in each iteration

Attempt 1.
Attempt 2..
Attempt 3...
Attempt 4....
Attempt 5.....

In [25]:
# excercise
# Generate radom value between 1 and 10

import random as rd # short form of random module
for item in range(5): # generate 5 random numbers
    print(rd.randint(1, 10)) # randint function generates random integer between given range

3
7
2
2
6

7. For Else

In [30]:
# successful message and break out of loop excercise

succeful = True
for number in range(1,4):
    print(f"Attempt {number}")
    
    if succeful:
        print("Successful")
        break

Attempt 1
Successful

In [31]:
# message sending trial not successful

succeful = False
for number in range(1,4):
    print(f"Attempt {number}")
    
    if succeful:
        print("Successful")
        break
else:
    print("All attempts failed")

Attempt 1
Attempt 2
Attempt 3
All attempts failed

8. Nested loops

explanation of the code below: for the first iteration of outer loop (x=0), inner loop will run 3 times (y=0,1,2)
then for the second iteration of outer loop (x=1), inner loop will run 3 times (y=0,1,2)
and the process goes on until the outer loop is completed

In [ ]:
# create coordinates using nested loops

for x in range(4):                # outer loop
    for y in range(3):            # inner loop
        print(f"({x}, {y})")      # print coordinates

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

'\nfor the first iteration of outer loop (x=0), inner loop will run 3 times (y=0,1,2)\nthen for the second iteration of outer loop (x=1), inner loop will run 3 times (y=0,1,2)\nand the process goes on until the outer loop is completed\n'

9. Iterables

In [34]:
# string is an iterable for example

for char in "Python":
    print(char)

P
y
t
h
o
n

In [36]:
#excercise

numbers = [3, 6, 2, 8, 4, 10] # list of numbers
for item in numbers:
    print(item)

3
6
2
8
4
10

10. While loop

while loop will keep executing as long as the condition is true. When the condition becomes false, the loop stops.

In [ ]:
# syntax:

while condition:
    # do something
    # increment or decrement of the condition variable

In [ ]:
# excercise

number = 0          # initial value
while number < 5:   # condition
    print(number)   # print the value of number
    number += 1     # increment the value of number by 1
    
# while loop may never end if we forget to increment or decrement the condition variable

0
1
2
3
4

In [43]:
# excercise

i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [56]:
# excercise
# Display the even numbers between 1 and 10 and then print total count
# use the range function

count = 0
for number in range(1, 11):
    if number % 2 == 0:
        print(number)
        count += 1            # every time we find an even number, we increment the count by 1

print(f"\nTotal even numbers: {count}")   # "\n" is used to print in new line

2
4
6
8
10

Total even numbers: 5

In [58]:
# use while loop to achieve the same result
count = 0
number = 1
while number <= 10:
    if number % 2 == 0:
        print(number)
        count += 1
    number += 1
print(f"\nTotal even numbers: {count}")   # "\n" is used to print in new line

2
4
6
8
10

Total even numbers: 5