# Data Structure

1. ### List

In [4]:
letters = ['a', 'b', 'c']       # list
matrix = [[0, 1], [2, 3]]       # list of lists or a 2D matrix
matrix_2 = [
    [0, 1],
    [2, 3],
    [3, 4]
]
zeros = [0] * 5                  # list of 5 zeros
combined = letters + zeros       # concatenation

print(zeros)
print(combined)

[0, 0, 0, 0, 0]
['a', 'b', 'c', 0, 0, 0, 0, 0]

In [6]:
# create a list using the list and range functions

numbers = list(range(20))        # list of numbers from 0 to 19
print(numbers)

string = "Hello World"
chars = list(string)             # list of characters in the string 
print(chars)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

2. ### Accessing items

In [ ]:
string = "Hello World"
chars = list(string)             # list of characters in the string

print(len(chars))                # length of the list
print(chars[0])                  # first element
print(chars[-1])                 # last element
print(chars[0:5])                # slicing

11
H
d
['H', 'e', 'l', 'l', 'o']

In [15]:
letters = ["a", "b", "c", "d"]  

letters[0] = "A"
print(letters[0:3])
print(letters[::2])  # skips the second iteration

['A', 'b', 'c']
['A', 'c']

In [1]:
numbers = list(range(20))
print(numbers[::2])  # skips every second item
print(numbers[::-1])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

3. ### Unpacking List

In [ ]:
numbers = [1,2,3]
first = numbers[0]
second = numbers[1]
third = numbers[2]

# Efficient way :

first, second, third = numbers 
print(first)
print(second)

#caution: variable and vaule should be equal

In [6]:
numbers = [1,2,3,4,4,4,4,2,2,111]

first, second, *other = numbers  # rest of will go to "other" list
print(first)
print(second)
print(other)

1
2
[3, 4, 4, 4, 4, 2, 2, 111]

In [7]:
first , *other, last = numbers
print(first, last)
print(other)

1 111
[2, 3, 4, 4, 4, 4, 2, 2]

4. ### Looping over lists

In [9]:
letters = ['a', 'b', 'c']

for item in letters:
    print(item)

a
b
c

In [11]:
# enumerate function
# it gives a tuple : (index, value)

letters = ['a', 'b', 'c']

for item in enumerate(letters):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')

In [15]:
# excercise

letters = ['a', 'b', 'c']

for index, item in enumerate(letters):
    print(index, item)

0 a
1 b
2 c

5. ### Ading or removing item from list

In [ ]:
letters = ['a', 'b', 'c'] 

letters.append('d')  # to add item at the end of the list
print(letters)

letters.insert(0, 'e')  # to add at specific index
print(letters)
    
letters.insert(2, 'e')
print(letters)

letters.pop()  # to remove the last element
print(letters)

letters.pop(2)  # to remove the specific element
print(letters)

letters.remove('c')  #removes the first occurance of "b"
print(letters)

['a', 'b', 'c', 'd']
['e', 'a', 'b', 'c', 'd']
['e', 'a', 'e', 'b', 'c', 'd']
['e', 'a', 'e', 'b', 'c']
['e', 'a', 'b', 'c']
['e', 'a', 'b']

In [37]:
letters = ['a', 'b', 'c', 'd']

del letters[0]
print(letters)

['b', 'c', 'd']

In [35]:
letters = ['a', 'b', 'c', 'd']

del letters[0:2]
print(letters)

['c', 'd']

In [36]:
letters = ['a', 'b', 'c', 'd']

letters.clear()
print(letters)

[]

6. ### Finding items

In [38]:
letters = ['a', 'b', 'c', 'd']

print(letters.index('a'))
print(letters.index('b'))

0
1

In [39]:
# find the total occurence of a item in a list

letters = ['a', 'a', 'b', 'c', 'd', 'e', 'e', 'e']

print(letters.count('a'))
print(letters.count('b'))
print(letters.count('e'))
print(letters.count('s'))

2
1
3
0

7. ### Sorting list

In [42]:
numbers = [3, 5, 2, 22, 3, 5, 12, 43, 65, 3, 9]
 
numbers.sort()       # modifies the current list
print(numbers) 

# for descending order

numbers.sort(reverse= True)
print(numbers)

[2, 3, 3, 3, 5, 5, 9, 12, 22, 43, 65]
[65, 43, 22, 12, 9, 5, 5, 3, 3, 3, 2]

In [ ]:
# If we dont like to modify the current list:

numbers = [3, 5, 2, 22, 3, 5, 12, 43, 65, 3, 9]

print(sorted(numbers))           
print(sorted(numbers, reverse= True))

# This sorted method will provide e new list without changing the existing list

[2, 3, 3, 3, 5, 5, 9, 12, 22, 43, 65]
[65, 43, 22, 12, 9, 5, 5, 3, 3, 3, 2]

In [53]:
# Create a list of tuples, where each tuple contains a product name and its price

items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

# Define a function that takes a tuple and returns the second element (price)

def sort_tuple(i):
    return i[1]

# Sort the 'items' list in-place using the 'sort_tuple' function as the key
# This sorts the list based on the price (i.e., the second element of each tuple)

items.sort(key = sort_tuple)
print(items)

[('product1', 10), ('product3', 23), ('product2', 353)]

8. ### Lambda functions

A lambda function is a small, anonymous function defined using the lambda keyword. It's typically used when you need a simple function for a short period of time, especially as an argument to higher-order functions like sort(), map(), or filter().

In [ ]:
# syntax:

lambda arguments: expression

In [7]:
def multiply_1(a, b):
    return a * b


print(multiply_1(3,4))

# lambda that multiplies two numbers

multiply = lambda a, b: a * b

print(multiply(3, 4))  # Output: 12

12
12

In [ ]:
def addition_1(a,b):
    return a+b

print(addition_1(2,4))

# lambda 

addition_2 = lambda a,b : a + b
print(addition_2(2,4))

6
6

In [ ]:
items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

def second_value(i):
    return i[1]

items.sort(key = second_value)
print(items)

[('product1', 10), ('product3', 23), ('product2', 353)]

In [13]:
# using lambda 

items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

items.sort(key = lambda i : i[1])
print(items)

[('product1', 10), ('product3', 23), ('product2', 353)]

9. ### Map function

The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
# syntax:

map(function, iterable)

In [8]:
numbers = [1, 2, 3, 3, 3, 4, 5, 6, 9, 10]

def square(x):         # funtion to get square of x
    return x*x

y = list(map(square, numbers))    # iteraing over x by map()
print(y)

[1, 4, 9, 9, 9, 16, 25, 36, 81, 100]

In [10]:
# more short using lamba and map:

numbers = [1, 2, 3, 3, 3, 4, 5, 6, 9, 10]

print(list(map(lambda x : x * x, numbers)))

[1, 4, 9, 9, 9, 16, 25, 36, 81, 100]

In [ ]:
items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

# from here get a list of the prices

prices = list(map(lambda item : item[1], items))
print(prices)

[10, 353, 23]

10. ### Filter function

The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition.

In [ ]:
# syntax

filter(function, iterable)

In [23]:
numbers = [1, 2, 3, 3, 3, 4, 5, 6, 9, 10]

# list of event numbers

#def even(x):
    #return x % 2 == 0
    
even = list(filter(lambda x : x % 2 == 0, numbers))
print(even)

[2, 4, 6, 10]

In [6]:
numbers = [1,2,3,4,5,6,7,8,9] 

num_greater_than_5 = list(filter(lambda y:y>5 , numbers))
print(num_greater_than_5)

[6, 7, 8, 9]

In [26]:
items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

# prices over 20

price_over_20 = []

for i in items:
    price = i[1]
    if price > 20:
        price_over_20.append(price)
        
print(price_over_20)

[353, 23]

In [ ]:
# Now using the filter function 

items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

price_over_20 = list(filter(lambda i:i[1] > 20, items))
print(price_over_20)

# if we dont use the list we get filter object

[('product2', 353), ('product3', 23)]

In [30]:
## Filter() to check if the age is greate than 25 in dictionaries

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'Krish', 'age': 32}, {'name': 'Jack', 'age': 33}]

In [34]:

x = list(filter(lambda i : i['age'] > 25, people))
print(x)

[{'name': 'Krish', 'age': 32}, {'name': 'Jack', 'age': 33}]

11. ### List comprehension

In [ ]:
# Syntax:

[expression for item in iterable]

# Equivalent:

result = []
for item in iterable:
    result.append(expression)


# with a condition:

[expression for item in iterable if condition]

In [40]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 2, 4, 6, 8]

In [39]:
square = [x*x for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(i) for i in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

In [56]:
items = [
    ("product1", 10),
    ("product2", 353),
    ("product3", 23)
]

prices_1 = list(map(lambda i: i[1], items))
print(prices_1)
prices_2 = [i[1] for i in items]
print(prices_2)

filtered_1 = list(filter(lambda i: i[1] > 10, items))
print(filtered_1)
filtered_2 = [i for i in items if i[1] > 10]
print(filtered_2)

[10, 353, 23]
[10, 353, 23]
[('product2', 353), ('product3', 23)]
[('product2', 353), ('product3', 23)]

12. ### Zip function
The zip() function in Python is used to combine multiple iterables (like lists, tuples, etc.) element-wise into tuples. It creates an iterator that aggregates elements from each iterable based on their position (index).

In [ ]:
# syntax:

zip(iterable1, iterable2, ...)

In [58]:
list1 = [1,2,3]
list2 = [11,22,33]
string = ["Aaron","Sarah","Jon"]

print(zip(list1, list2, string))
print(list(zip(list1, list2, string)))

<zip object at 0x000002B7FF711F00>
[(1, 11, 'Aaron'), (2, 22, 'Sarah'), (3, 33, 'Jon')]

13. ### Stacks

14. ### Queues

15. ### Tuple

In [ ]:
# Read only list
# Cannnot mutate

In [ ]:
my_tuple = (1,2,3,4)
print(type(my_tuple))

point = 1,
print(type(point))

empty = ()
print(type(empty))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [1]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [2]:


numbers = [1,2,3,4,5,6,7,8,9] 
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [3]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [4]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [5]:
## Unpacking with *

numbers=tuple([1,2,3,4,5,6,7,8,9])
print(type(numbers))
first,*middle,last=numbers
print(first)
print(middle)
print(last)

<class 'tuple'>
1
[2, 3, 4, 5, 6, 7, 8]
9

In [6]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [7]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [ ]:
tuple1 = (1,2)
tuple2 = (3,4)

tuple_3 = tuple1 + tuple2
print(tuple_3)
print(tuple_3 * 2)

(1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4)

16. ### Swapping variables

In [83]:
x = 10
y = 3

x, y = y, x 

print(x)
print(y)

3
10

17. ### Arrays

18. ### Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [8]:
list1 = [1, 2, 3, 4, 5,2,4]

set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [9]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [10]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [13]:
## Basics Sets Operation
## Adiing and Removing Elements

my_set={1,2,3,4,5}

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [14]:
## Remove the elements from a set

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [ ]:
my_set.remove(10)

# using remove method,
# This will show an eroor as it doesnt exist in the set

In [15]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}

In [27]:
my_set={1,2,3,4,5}
print(my_set.pop())
print(my_set)

1
{2, 3, 4, 5}

In [22]:
## pop method
my_set={1,2,3,4,5}
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [28]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [29]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union 
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

19. ### Dictionaries


Dictionaries are unordered collections of items. They store data in key-value pairs.
Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [36]:
# creating a dictionary 

empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [37]:
# dictionary with key value pair

student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [38]:
# using dict() function

student = dict(name = "Krish", age = 32, grade = 24)
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [ ]:
student = dict(name = "Krish", age = 32, grade = 24)

print(student)

#Accessing dictionary

print(student["name"])    
print(student["age"])
print(student["grade"])

{'name': 'Krish', 'age': 32, 'grade': 24}
Krish
32
24
Rajesh
Male
{'name': 'Rajesh', 'age': 32, 'grade': 24, 'gender': 'Male'}

In [48]:
# Changing key value pair

student["name"] = "Rajesh"
print(student["name"])
print(student)

Rajesh
{'name': 'Rajesh', 'age': 32, 'grade': 24, 'gender': 'Male'}

In [ ]:

# Assigning new key value pair

student["gender"] = "Male"
print(student["gender"])
print(student)

Male
{'name': 'Rajesh', 'age': 32, 'grade': 24, 'gender': 'Male'}

In [50]:
# if you try to search a key which is not in the dictionary 
# we will get an error

student={"name":"Krish","age":32,"grade":24}

print(student["address"])

KeyError: 'address'

In [ ]:
# To get rid of this error we can use get() method
# if it doesnt exist shows none

student={"name":"Krish","age":32,"grade":24}

print(student.get("address"))

None

In [ ]:
# we can also pass a default value to show

print(student.get("address", "not available"))

not available

In [56]:
# delete a key value pair
student={"name":"Krish","age":32,"grade":24}
del student["grade"]

print(student)

{'name': 'Krish', 'age': 32}

In [58]:
## Dictionary methods

keys=student.keys()       ##get all the keys
print(keys)
values=student.values()    ##get all values
print(values)

items=student.items()    ##get all key value pairs
print(items)

dict_keys(['name', 'age'])
dict_values(['Krish', 32])
dict_items([('name', 'Krish'), ('age', 32)])

In [59]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 32}
{'name': 'Krish', 'age': 32}

In [ ]:
student={"name":"Krish","age":32,"grade":24}

student["name"]="Krish2"

student_copy=student

print(student_copy)
print(student)

{'name': 'Krish2', 'age': 32, 'grade': 24}
{'name': 'Krish2', 'age': 32, 'grade': 24}

In [ ]:
## Hard copy

student = {'name': 'Krish2', 'age': 33, 'address': 'India'}

student_copy1=student.copy() 

student["name"]="Krish1"

print(student_copy1)
print(student)

In [ ]:
student = {'name': 'Krish2', 'age': 33, 'address': 'India'}

for i in student:
    print(i)
    
# It provides the key of the dictionary

name
age
address

In [68]:
# to get the pair

for key in student:
    print(key, student[key])

name Krish2
age 33
address India

In [73]:
# another way

student = {'name': 'Krish2', 'age': 33, 'address': 'India'}

for x in student.items():
    print(x)

('name', 'Krish2')
('age', 33)
('address', 'India')

In [74]:
for key, value in student.items():
    print(key, value)

name Krish2
age 33
address India

In [75]:
## Nested Disctionaries

students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}

print(students["student1"]["age"])

32

In [76]:
## Access nested dictionaries elementss

print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [77]:
students['student1'].items()

dict_items([('name', 'Krish'), ('age', 32)])

20. ### Dictionary Comprehension

In [ ]:
# Lets look at an example

values = []
for x in range(5):
    x = x * 2
    values.append(x)

print(values)

[0, 2, 4, 6, 8]

In [ ]:
# Now using list comprehension: 

syntax: [ expression for item in iterable]

[0, 2, 4, 6, 8]

In [5]:
values = [x * 2 for x in range(5)]
print(values)

[0, 2, 4, 6, 8]

In [7]:
# similar approach can be made for dictionaries

dict_1 = {x: x * 2 for x in range(5)}
print(dict_1)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [ ]:
# conditional

even_dict = {x : x * 2 for x in range(10) if x % 2 == 0}
print(even_dict)

{0: 0, 2: 4, 4: 8, 6: 12, 8: 16}

In [30]:
## Practical Examples

## USe a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,3,4]
frequency={}

for num in numbers:
    if num in frequency:
        frequency[num]+=1
    else:
        frequency[num]=1
print(frequency)

{1: 1, 2: 2, 3: 4, 4: 1}

In [31]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

21. ### Generator expressions

A generator expression is a concise way to create generators in Python — objects that generate values one at a time, on the fly, and don’t store the entire sequence in memory.

They look similar to list comprehensions, but use parentheses () instead of square brackets [].
This is memory efficient. Python computes and sums the numbers without ever storing all of them at once.

In [ ]:
(expression for item in iterable)

In [39]:
even_sum = sum(x for x in range(100) if x % 2 == 0)
print(even_sum)

2450

In [ ]:
# lets see the size of list and generator object

from sys import getsizeof 

values_gen = ( x * 2 for x in range (1000))
values_list = [ x * 2 for x in range (1000)]

print("Generator size: ", getsizeof(values_gen))
print("List size: ", getsizeof(values_list))

# for the same thing list takes much more memory than generator

Generator size:  200
List size:  8856

22. ### Unpacking Operators

In [43]:
numbers = [1,2,3]
print(numbers)
print(1,2,3)

[1, 2, 3]
1 2 3

In [42]:
# lets unpack this list

print(*numbers)

1 2 3

In [44]:
values = list(range(5))
print(values)

[0, 1, 2, 3, 4]

In [45]:
# same thing by unpacking operator:

values = [*range(5)]
print(values)

[0, 1, 2, 3, 4]

In [48]:
# combining list

first = [1,2,3]
second = [5,6,7]

combined = [*first, *second, *"Hello"]
print(combined)

[1, 2, 3, 5, 6, 7, 'H', 'e', 'l', 'l', 'o']

In [51]:
# for dictonary unpacking:

first = {"Moto" : 20, "patlu" : 30}
second = {"jhatka" : 24, "ghasita" : 35}

combined_dictionary = {**first, **second}
print(combined_dictionary)

{'Moto': 20, 'patlu': 30, 'jhatka': 24, 'ghasita': 35}

23. ### Excercise

In [ ]:
sentence = "This is a common interview question"

# find the most repeated character

In [56]:
sentence = "This is a common interview question"  

char_frequency = {}                         # an empty dictionary to store character counts

for item in sentence:                      # Loop through each character in the sentence
    if item in char_frequency:              # If the character is already in the dictionary
        char_frequency[item] += 1             # Increment its count by 1
    else:                                   # If the character is not in the dictionary yet
        char_frequency[item] = 1           # Add it to the dictionary with an initial count of 1

print(char_frequency)                     # Print the dictionary containing character frequencies

{'T': 1, 'h': 1, 'i': 5, 's': 3, ' ': 5, 'a': 1, 'c': 1, 'o': 3, 'm': 2, 'n': 3, 't': 2, 'e': 3, 'r': 1, 'v': 1, 'w': 1, 'q': 1, 'u': 1}

In [ ]:
# more readable approach

from pprint import pprint
pprint(char_frequency, width = 2)
# Pretty-print dictionary with a max line width of 2 characters (forces very narrow formatting)

{' ': 5,
 'T': 1,
 'a': 1,
 'c': 1,
 'e': 3,
 'h': 1,
 'i': 5,
 'm': 2,
 'n': 3,
 'o': 3,
 'q': 1,
 'r': 1,
 's': 3,
 't': 2,
 'u': 1,
 'v': 1,
 'w': 1}

In [ ]:
# next part 
# most repeated character

char_frequency_sorted = sorted(
    char_frequency.items(), key = 
    lambda kv: kv[1],
    reverse= True
)       

print(char_frequency_sorted[0])

('i', 5)